<!-- templates/subscribe.html -->

<div class="signup-ribbon" role="banner">
<div class="container">
<div class="row justify-content-center">
<div class="col-12 col-md-8">
    <header class="signup-ribbon-header">
        <h2 class="signup-ribbon-heading">Mailing List</h2>
        <p class="lead">Sign up be notified of when new posts are published.</p>
    </header>
        <form action="#" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="signup-ribbon-form validate" target="_blank" novalidate>
            <div class="signup-ribbon-row">
                <input placeholder="Enter your email" id="first_name" type="email" name="EMAIL" class="form-control">
                <button class="btn btn-success btn-hollow" type="submit" name="action">Subscribe</button>
            </div>
        </form>
    </div>
    </div>
    </div>
    </div>